<html lang="pt-BR" ng-app="appDataPOA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto Final</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="./controller/controllerApp.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body ng-controller="controllerDataPOA as controller">
    <nav>
        <ul>
            <li ng-click="viewMain = 'tableUFEF.html'">tableUFEF.html</li>
            <li ng-click="viewMain = 'formPostUser.html'">formPostUser.html</li>
            <li ng-click="viewMain = ''">Home</li>
        </ul>
    </nav>
    <div id="main">
        <div ng-include="'./include/'+viewMain"></div>
    </div>
</body>
</html>