<form action="user/" method="PUT" ng-submit="submitData($event)" id="formPutUser">
    <input type="text" ng-model="dataSend.userName" placeholder="Nome" required>
    <input type="text" ng-model="dataSend.userUsername" placeholder="Nome de usuário" required>
    <input type="password" ng-model="dataSend.userPassword" placeholder="Senha" required>
    <input type="email" ng-model="dataSend.userEmail" placeholder="Email">
    <input type="tel" ng-model="dataSend.userPhone" placeholder="Celular">
    <input type="tel" ng-model="dataSend.userWhatsapp" placeholder="Whatsapp">
    <input type="url" ng-model="dataSend.userFacebook" placeholder="Link do seu perfil do facebook">
    <input type="text" ng-model="dataSend.userSnapchat" placeholder="Nome de usaŕio do seu snapchat">
    <input type="text" ng-model="dataSend.userInstagram" placeholder="Nome de usaŕio do seu instagram">
    <input type="text" ng-model="dataSend.userTwitter" placeholder="Nome de usaŕio do seu twitter">

    <input type="submit" value="Atualizar">
    <button type="button">Cancelar</button>
</form>